/* NOTE: Not overwrite color yet - but thinking about it */
.intro-header {
 background-color:gray;
}

@media only screen and (min-width:768px) {
 .intro-header .site-heading,
 .intro-header .post-heading,
 .intro-header .page-heading {
  padding:15% 0
 }
}
