<!-- disqus 评论框 end
<div id="disqus-comment"></div>
{{ if .Site.Params.disqus_proxy }}
<script src="{{ "js/iDisqus.js" | relURL }}"></script>
<script>
var disq = new iDisqus('disqus-comment', {
    forum: '{{ .Site.DisqusShortname}}',
    api: '{{ .Site.Params.disqus_proxy }}',
	site: '{{ .Site.Params.disqus_site }}',
    mode: 1,
    timeout: 5000,
    init: true
});
</script>
{{ else if .Site.DisqusShortname }}
{{ template "_internal/disqus.html" . }}
{{ end }} -->



<div id="git-comments"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://ihtcboy.com/script/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    id: decodeURI(window.location.pathname),  // 可选, 默认为 location.href
    owner: '111qqz',
    repo: '111qqz.github.io',
    oauth: {
      client_id: '8839ce5e58d5197e2490',
      client_secret: '2d475a8a7e27a8b509847a6c60f692b8cbaa274e',
    }
  })
  gitment.render('git-comments')
</script>
